doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui')
    title #{GLOBALS.BUNDLE_NAME}

    //- fix: see:
    //- http://stackoverflow.com/questions/19110144/ios7-issues-with-webview-focus-when-using-keyboard-html/19182670#19182670
    //- https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
    //- This seems however like it did worked only on iOS pre-7
    //- http://blogs.telerik.com/appbuilder/posts/13-11-07/everything-hybrid-web-apps-need-to-know-about-the-status-bar-in-ios7
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="white-translucent")

    link(href='css/app.css?v=#{GLOBALS.CACHE_TAG}', rel='stylesheet')

    link(rel="icon", type="image/png", href="img/favicon.png")
    link(rel="apple-touch-icon", href="img/favicon.png" )

    //- Add google analytics, if available.
    //- NOTE: to make it work on Cordova,
    //-   you will also need angulartics and cordova google-analytics-plugin.
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true")
    -if (GLOBALS.GOOGLE_ANALYTICS_ID)
      script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '#{GLOBALS.GOOGLE_ANALYTICS_ID}', '#{GLOBALS.GOOGLE_ANALYTICS_HOST}');

    //- define required JS GLOBALS
    script.
      GLOBALS = !{JSON.stringify(GLOBALS)};
    script(src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry")
    //- script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false")
    script(src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false")
    script(src="js/vendor.js?v=#{GLOBALS.CACHE_TAG}")
    script(src="js/bootstrap.js?v=#{GLOBALS.CACHE_TAG}")
    script(src="js/app.js?v=#{GLOBALS.CACHE_TAG}")


    script(id="cordova-js" src="cordova.js")
    //- If you need to include any cordova plugins' js files, add them here:
    //- script(id="cdv-plugin-fb-connect-js" src="cdv-plugin-fb-connect.js")
    //- script(src="js/ng-cordova.js")

  body(animation='slide-left-right-ios7')
    div(ng-controller='AppCtrl')
      script(type="text/ng-template" id="rateModal.html")
        div.modal
          ion-header-bar
            button.button(ng-click="rateModal.hide()") Cancel
            h1.title Rate
            button.button(ng-click="rateModal.hide()") Done
          ion-content
            h1 Rating modal
      script(type="text/ng-template" id="imageModal.html")
        div.modal
          ion-header-bar
            button.button(ng-click="imageModal.hide()") Cancel
            h1.title Rate
            button.button(ng-click="imageModal.hide()") Done
          ion-content
            h1 image modal
      script(type="text/ng-template" id="collectModal.html")
        div.modal
          ion-header-bar
            button.button(ng-click="collectModal.hide()") Cancel
            h1.title Rate
            button.button(ng-click="collectModal.hide()") Done
          ion-content
            h1 collect modal

      ion-nav-bar(type='bar-positive',
                  class="bar bar-positive",
                  animation='nav-title-slide-ios7',
                  back-button-type='button-icon',
                  back-button-icon='ion-ios7-arrow-back')
        ion-nav-back-button(class="button-clear")
      ion-nav-view(animation="slide-left-right")
